# Database
DATABASE_URL="mysql://root:password@localhost:3306/ipemr"

# Auth.js
AUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Kranium DB (read-only)
KRANIUM_DATABASE_URL="mysql://readonly:password@kranium-host:3306/kranium"
